header {
    background-color:#cf4747;
    color: white;
}

#try_out{
    background-color:#cf4747;
    color: white;
    font: arial, sans-serif;
    text-align: center;
}

i{
    color: #cf4747
}

.description{
    color: #6c757d;
    font-size: 17px;
    line-height: 32px;
}

#quote{
    background-color: #3a3e64;
    color: white;
    font: arial, sans-serif;
}

footer{
    background-color: #1b1d24;
    color: white;
}

a{
    color: white;
}

a:visited{
    color: white;
}

a:hover{
    color: white;
}